<html>
<body>
Hello World!
</body>
</html>
<!DOCTYPE html>
<html lang="en">
 
<head>
	 <meta charset="utf-8">
	 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	 <meta name="viewport" content="width=device-width, initial-scale=1">
	 <meta name="description" content="">
	 <meta name="author" content="">

	 <title>SignUp Template for Bootstrap </title>

	 <link href="static/css/bootstrap.min.css" rel="stylesheet">
	 <link href="static/css/signup.css" rel="stylesheet">

	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 
	 <script src="static/js/signup.js"></script>
</head>
 
<body>
    <div class="container">
        <form class="form-signin"  role="form">
        <h2 class="form-signin-heading">Welcome Students!</h2>
        <a href = "/signup" >
        <button class="btn btn-lg btn-primary btn-block" type="button" style="height:50px;width:500px">Signup for campus CSE 6242!
        	 
        </button>
        <a href = "https://cse6242.gatech.edu">
        <button class="btn btn-lg btn-primary btn-block" type="button" style="height:50px;width:500px">I am an OMSCS student, take me to OMSCS CSE 6242!</button>

		</form>   
     </div>  
</body>
 
</html>